<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="shortcut icon" href="../assets/img/dce-logo.png">

    <title>Painel Grupos</title>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/dce-logo.png" style="padding-left: 40px;" width="100" height="100" alt="">
            </a>
        </nav>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#">Eventos</a>
        <a href="#">Grupos</a>
        <a href="#">Noticias</a>
        <a href="#">Documentos</a>
    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Painel</span>
    </div>

    <div class="grup-forms">
        <form action="#">
            <div class="name-grupos">
                <label for="fname">Nome do grupo:</label>
                <input type="text" class="form-control" id="namegrupo" name='namegrupo' placeholder="Nome do grupo"
                    required>
            </div>

            <div class="curso-oferece">
                <label for="fname">Curso:</label>
                <input type="text" class="form-control" id="namegrupo" name='namegrupo' placeholder="Nome do grupo"
                    required>
            </div>

            <div class="email-grupo">
                <label for="email">E-mail:</label>
                <input type="email" id="emailgrupo" name="emailgrupo" placeholder="email@email.com" required>
            </div>

            <div class="contato-grupo">
                <label for="phone">Telefone:</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="tel.">
            </div>
        </form>

    </div>

    <footer>
        <br><br>
        <p>© Copyright 2020</p>
    </footer>

    <script src="../assets/js/main.js"></script>

</body>

</html>