<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Painel Jornal</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
</head>

<body>
    <ul id="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Noticias</a>
        <li><a href="#">Grupos</a></li>
        <li><a href="#">Documentos</a></li>
    </ul>
</body>

</html>